# Ignore node_modules folder
# node_modules/

# Ignore environment variable files

# Ignore log files
*.log

# Ignore the dist/ directory
dist/


# Ignore node_modules folders in all directories
**/node_modules/

# Ignore node_modules folders in all directories
**/node_modules/